$header-bg: #111;
$body-bg: #1A1A1A;
$detail-bg: #252525;

$main-color: #FF8A00;
$txt-color: #828282;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow2: 0 3px 5px rgb(0 0 0 / 50%);

$header-height: 60px;
$header-shrink-height: 5rem;
$border-radius: 10px;

$mobile-width: 600px;
$tablet-width: 1024px;
$laptop-width: 1366px;

$font-family: "Montserrat", sans-serif;